@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazir', sans-serif;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.txtRight {
  text-align: right;
}

/* کوچک کردن ارتفاع اسکرول‌بار */
.custom-scrollbar::-webkit-scrollbar {
  height: 3px; /* ارتفاع اسکرول‌بار را کوچک می‌کند */
  
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* رنگ دسته اسکرول */
  border-radius: 10px; /* گرد کردن گوشه‌های دسته */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555555; /* رنگ هنگام هاور */
}